.formContainer {
  padding: var(--spacing-4);
  border-radius: 6px;
}

.formTitle {
  color: var(--dark);
  margin-top: 0;
}

.formContent {
  display: flex;
}

.inputForm {
  width: 100%;
  margin-right: var(--spacing-4);
}

@media screen and (max-width: 700px) {
  .formContent {
    flex-direction: column;
  }

  .formContent button {
    margin-top: var(--spacing-2);
    padding: var(--spacing-2) 0;
  }
}
